*.iws
.classpath
.project
.settings
*~
*.DS_Store
logs
eclipse
tmp
.idea
target
*.iml
data
nohup.out
test-result
.sass-cache
server.pid
public/js/press
modules
precompiled
lib
!public/js/lib
out
gwt/base/client/resources/Style.java
generated
public_gwt
war/WEB-INF/deploy
war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
